Stage (
    name: "Selaion Palace",
    quests: {
        "main":"Main Quest",
        "cellarRats":"Kill the rats in the cellar",
    },
    rooms: {
        "throne": Room (
            dimensions: (x1:20,x2:30,y1:5,y2:15),
            name: "Selaion throne room",
            description: "The throne room of the palace. A bit bare but majestic.",
        ),
        "study": Room (
            dimensions: (x1:15,x2:18,y1:5,y2:8),
            name: "The study",
            description: "A small room, with a table and stool facing the windows.\nA chest of books is on the side.",
        ),
        "bedroom": Room (
            dimensions: (x1:10,x2:13,y1:7,y2:11),
            name: "Your bedroom",
            description: "Your bedroom, that for years you shared with Peleus.",
        ),
        "garden": Room (
            dimensions: (x1:15,x2:18,y1:10,y2:17),
            name: "The royal garden",
            description: "The garden where you played for hours as a little girl",
        ),
        "kitchen": Room (
            dimensions: (x1:13,x2:18,y1:19,y2:23),
            name: "The kitchen",
            description: "The kitchen where all meals are prepared.\nNice smells make you feel hungry a little.",
        ),
        "cellar": Room (
            dimensions: (x1:9,x2:12,y1:19,y2:21),
            name: "The cellar",
            description: "Dark and a little bit damp. Amphoras and jars line up the walls.",
        ),
        "courtyard": Room (
            dimensions: (x1:20,x2:30,y1:16,y2:26),
            name: "The courtyard",
            description: "The main courtyard of the castle, where soldiers train.",
        ),
        "armory": Room (
            dimensions: (x1:32,x2:35,y1:20,y2:24),
            name: "The armory",
            description: "The guards weapons are kept here, in neat rows",
        ),
        "gate": Room (
            dimensions: (x1:22,x2:28,y1:28,y2:30),
            name: "The castle gate",
            description: "The main - and only - gate to the castle",
        ),
        "outside": Room (
            dimensions: (x1:22,x2:28,y1:32,y2:36),
            name: "Outside the castle",
            description: "Just outside the castle",
        ),
        "vegetable": Room (
            dimensions: (x1:16,x2:20,y1:32,y2:36),
            name: "The vegetable garden",
            description: "The vegetable garden where what you eat grows",
        ),
        "village": Room (
            dimensions: (x1:30,x2:36,y1:32,y2:36),
            name: "Selaion's village",
            description: "The villagers live in these small houses. The game ends here for now, thanks for playing!",
        )
    },
    start: "throne",
    doors: [
        Door(room1:"throne",room2:"study",width:1),
        Door(room1:"study",room2:"bedroom",width:1),
        Door(room1:"garden",room2:"bedroom",width:1),
        Door(room1:"garden",room2:"throne",width:2),
        Door(room1:"garden",room2:"kitchen",width:1),
        Door(room1:"cellar",room2:"kitchen",width:1),
        Door(room1:"throne",room2:"courtyard",width:4),
        Door(room1:"kitchen",room2:"courtyard",width:2),
        Door(room1:"armory",room2:"courtyard",width:2),
        Door(room1:"gate",room2:"courtyard",width:4),
        Door(room1:"outside",room2:"vegetable",width:2),
        Door(room1:"outside",room2:"village",width:2),
    ],
    items: {
        "scissors": (name:"Sharp scissors",position:(16,14)),
        "scroll": (name:"An undecipherable scroll",position:(11,20)),
    },
    weapons: [
        (key:"sword",position:(34,23)),
    ],
    npcs: {
        "Peleus": (name:"Peleus, your brother",position:(26,6),
            interactions: [
                (   text:"I am NOT going to let a girl go chasing a ghost.\nYour duty is to stay here and marry to strenghten my kingdom.",
                    actions:[
                        SetFlag("main","PeleusForbidden"),
                        AddDiary("main","Peleus forbids me to leave. He'll see!"),
                        ]
                ),
                (   conditions:[IfFlag("main","PeleusForbidden")],
                    text:"Once again, I am NOT going to let a girl go chasing a ghost.\nYour duty is to stay here and marry to strenghten my kingdom.\nDon't insist!",
                ),
                (   conditions:[IfFlag("main","hairCut")],
                    text:"I see you're determined enough get rid of the hair you were so proud of.\nAllright, I will give orders that you're allowed to leave.",
                    actions:[
                        SetFlag("main","allowedToLeave"),
                        AddDiary("main","Peleus has allowed me to leave on my quest for Father!"),
                    ]
                ),
            ]
        ),
        "Cretien": (name: "Cretien, your old teacher",position:(16,7),
             interactions: [
                 (text:"I'm always on the lookout for new knowledge!"),
                 (conditions:[IfItem("scroll"),],
                    text:"Ooohh, this scroll is a magic spell! Let me see if I can teach you the incantation...",
                    actions:[
                        UseItem("scroll"),
                        LearnSpell("fear",1),
                    ],
                 ),

             ]
        ),
        "Nerita": (name: "Nerita, your maid", position:(12,10),
            interactions: [
                (text:"You'll always be a little girl to me. Let me comb your hair!"),
                (conditions:[IfItem("scissors")],text:"You really want me to cut your hair with these scissors?",
                    interaction_type: Question,
                    after_text:"Really a shame to cut such beautiful hair!",
                    actions:[SetFlag("main","hairCut"),UseItem("scissors"),RaiseXP(2),UpdateCharacter("charisma",2),
                        AddDiary("main","Nerita cut my hair so I don't look too much like a girl now. I think it suits me.")]),
                (conditions:[IfFlag("main","hairCut")], text:"You look like a boy now! A pretty boy!"),
                (conditions:[IfFlag("main","hairCutSelf")], text:"What have you done to your hair? Shall I fix it for you?",
                    interaction_type: Question,
                    after_text:"Now, you look a bit better now!",
                    actions:[RemoveFlag("main","hairCutSelf"),RaiseXP(2),UpdateCharacter("charisma",1),
                        AddDiary("main","Nerita fixed my hair so it doesn't look as bad as it used to.")]),
            ],
        ),
        "Cherise": (name: "Cherise, the cook", position:(15,21),
            interactions: [
                (text:"Don't tell your brother, but there are rats in the cellar. I can't get rid of them, I wish somebody would kill them all!",
                actions:[StartQuest("cellarRats"),AddDiary("cellarRats","Cherise would like somebody to kill the rats in the cellar.")]),
                (conditions:[IfFlag("cellarRats","killedRats")],text:"Thanks for killing these rats! Here's a little pick-me-up I've made!",
                actions:[CompleteQuest("cellarRats",1),AddDiary("cellarRats","I killed the rats Cherise was complaining about."),PickupPotion("healing")]),
                (conditions:[IfQuestAchieved("cellarRats")],text:"Thanks again for killing these rats!"),
            ],
        ),
        "Scopas":(name: "Scopas, the weapons master", position:(26,22),
            interactions:[
                (interaction_type: Question, text:"You want me to give you a quick training?",after_text:"You're getting better with a weapon, but you still need to practise!",
                actions:[SetFlag("main","trained"),RaiseXP(1),UpdateCharacter("dexterity",1),AddDiary("main","Scopas gave me a hard fighting lesson.")]),
                (conditions:[IfFlag("main","trained")],text:"You trained enough for today, don't tire yourself out!"),
            ]
        ),
        "Theon":(name:"Theon, a palace guard", position:(25,30),
            interactions:[
                (text:"You are forbidden to go outside. I'm sorry my lady, your brother's orders"),
                (conditions:[IfFlag("main","allowedToLeave")],text:"Peleus told us we could let you go. Good luck, my lady",
                    actions:[RaiseXP(2),SetFlag("main","exitedPalace"),AddDiary("main","I can now go out of the palace"),AddDoor("gate","outside",4)]),
                (conditions:[IfFlag("main","exitedPalace")],text:"Good day, my lady"),
            ]

        ),
    },
    affordances:{
        "bedroomMirror":(name: "A little mirror", position:(12,8),
            interactions: [
                (text:"You look at yourself in the mirror"),
                (conditions:[IfItem("scissors")],text:"Cut your hair with the scissors?",
                    interaction_type: Question,
                     after_text:"You cut your hair short.",
                    actions:[SetFlag("main","hairCut"),UseItem("scissors"),RaiseXP(2),AddDiary("main","I cut my hair short using the bedroom mirror.")]),
                (conditions:[IfFlag("main","hairCut")], text:"Your look at yourself and your short hair..."),
            ]
        ),
        "gardenFountain":(name: "The garden fountain", position: (18,12),
            interactions: [
                (text:"The water is refreshing."),
                (conditions:[IfItem("scissors")],text:"Cut your hair with the scissors, using the fountain as a mirror?",
                    interaction_type: Question,
                    after_text:"You feel you've made a mess, but you cut your hair short.",
                    actions:[SetFlag("main","hairCut"),SetFlag("main","hairCutSelf"),UseItem("scissors"),RaiseXP(2),UpdateCharacter("charisma",-1),AddDiary("main","I cut my hair short using the fountain as a mirror. Not sure I did a great job.")]),
                (conditions:[IfFlag("main","hairCut")], text:"Your reflection in the water looks like a grinning boy..."),
            ]
        ),
    },
    monsters: [
        (key:"rats",actions:[SetFlag("cellarRats","killedRats")], rooms:["cellar"]
        ),
    ],
)